*{margin:0;padding: 0;}
.pic{
    width: 120px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    padding-top:250px;
    z-index:100;
    /*transform ??????*/
    transform-style:preserve-3d;
    transform:perspective(2000px) rotateX(1deg) rotateY(0deg);

}
body{
    background-color: black;
    font-family: 'Microsoft YaHei';
}
a{
    display: inherit;
    color:#ddd;
}

.map{
    background: url(../../images/big_screen/xh-media.jpg) no-repeat;
    width:1920px;
    height:1080px;
    z-index:-1;
}
.map:after{
    content:"";
    display: block;
    clear:both;
}
.thumbnail{
    border:none;
}
.pic .img{
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    position: absolute;
    width: 160%;
    /*height: 60%;*/
    border-radius: 5px;
    /*box-shadow: 0 0 10px #fff;*/
    -webkit-box-reflect:below 10px -webkit-linear-gradient(top,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%);
}
.pic .img{
    background: url('../../images/big_screen/default.png') round;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}
.pic .img:hover{
    background: url('../../images/big_screen/move-in.png') round;
    box-shadow: 0 0 10px #2695cb;
}
.caption p{
    line-height: 1.5em;
    color:#fff;
    font-size: 16px;
}
.caption h3{
    margin-top:-25px;
    color:#008ef2;
}

.map-chart {
    width: 250px;
    height: 250px;
    margin: 400px auto 0;
    transform-style: preserve-3d;
    transform: perspective(1200px) rotateX(-8.2deg) rotateY(0deg);
    position:relative;
    z-index:10;
}

.map-chart-1 {
    width: 250px;
    height: 250px;
    -webkit-transition: transform 4s, top 4s, left 4s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition: transform 4s, top 4s, left 4s;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition: transform 4s, top 4s, left 4s;
    transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    top: 1px;
    left: 1px;
    position: relative;
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    -o-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
}
.alert-content{
    color:#ddd;
    width:1070px;
    height:588px;
    background: url('../../images/big_screen/alert.png') no-repeat;
}
.left{
    text-align: center;
    float:left;
    width:600px;
    height:264px;
}
.left h3{
    line-height: 260px;
    position: relative;
    left: -20px;
}
.right{
    text-align: center;
    float:left;
    width:467px;
    height:264px;
}
.right h3{
    line-height: 264px;
    margin-left: -80px;
}
.bottom{
    float:left;
    width:1064px;
    height:324px;
    padding:50px 100px;
}
.bottom p{
    display: none;
}
.show{
    display: block;
}
.bottom  p{
    line-height: 1.8em;
    font-size: 18px;
}
body .layui-layer-reset .layui-layer-content{
    color:#ddd;
    background: url('../../images/big_screen/alert.png') no-repeat;
}
body .layui-layer-reset{
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    background-color: transparent;
}
body .layui-layer-reset .layui-layer-close2 {
    z-index:1000;
    right: 74px;
    top: 27px;
}
.right a:hover,.left a:hover{
    text-decoration: none;
    color:#ddd;
    background:url('../../images/big_screen/light.png') no-repeat center center;
}
.rotate_all{
    width: 1416px;
    margin: 0 auto;
    position: relative;
    padding-top:160px;
    z-index:100;
}
.nrscgl_all{
    float: left;
    width: 470px;
}
.nrscgl_all_left{
    float: left;
    width: 35px;
    height: 360px;
    background: url("../../images/big_screen/shu.png") no-repeat;
}
.nrscgl_all_right{
    float: left;
    width: 435px;
    margin-top: -16px;
}
.nrscgl_all_right_tit{
    float: left;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #54a0dc;
    cursor:pointer;
}
.nrscgl_all_right li{
    float: left;
    width: 390px;
    height: 101px;
    margin-bottom: 30px;
    background: url("../../images/big_screen/kuang.png") no-repeat;
}
.nrscgl_all_right li img{
    float: left;
    width: 116px;
    height: 116px;
    margin-top: -10px;
    margin-left: 35px;
    display: inline;
}
.nrscgl_all_right li a{
    float: left;
    height: 95px;
    font-size: 32px;
    line-height: 95px;
    margin-left: 14px;
    font-weight: bold;
}
.nrscgl_all_right li a:hover{
    color: #ffffff;
}
.dp_qh_btn{
    position: absolute;
    bottom: 150px;
    right: 260px;
    z-index: 99999;
    border: 1px #43A3E7 solid;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}
.shu5{
    height: 610px;
    background: url("../../images/big_screen/shu5.png") no-repeat;
}
.shu4{
    height: 485px;
    background: url("../../images/big_screen/shu4.png") no-repeat;
}
i.icon-qh{
    float: left;
    margin-top: 5px;
    width: 18px;
    height: 18px;
    background: url("../../images/big_screen/icon.png") no-repeat;
}
.top_line{
    float: left;
    width: 974px;
    height: 52px;
    margin-left: 100px;
    margin-bottom: 30px;
    background: url("../../images/big_screen/shang.png") no-repeat;
}